<div class="col-md-12 search-results">
  <div class="search-results-head row">
    <div class="col-md-10 search-results-head-left">
      <h3>{{ 'SearchResults.SearchResults' | translate }}</h3>
      <p> Found 210 Alignments for your search criteria</p>
    </div>
    <div class="col-md-2 search-results-head-right">
      <button (click)="onToggleClick(careerToAcademic)">{{ 'SearchResults.ToggleAlignments' | translate }} &nbsp; <i
          class="fa fa-exchange"></i></button>
    </div>

    <div class="search-accordion" *ngIf="careerToAcademic">
      <div class="search-accordion-head row">
        <div class="col-md-6">{{ 'SearchResults.CareerFields' | translate }}</div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-3">{{ 'SearchResults.AcademicSubject' | translate }}</div>
        <div class="col-md-1">{{ 'SearchResults.Alignment' | translate }}</div>
        <div class="col-md-1">&nbsp;</div>
      </div>
    </div>

    <div class="search-accordion" *ngIf="academicToCareer">
      <div class="search-accordion-head row">
        <div class="col-md-3">{{ 'SearchResults.AcademicSubject' | translate }}</div>
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-6">{{ 'SearchResults.CareerFields' | translate }}</div>
        <div class="col-md-1">{{ 'SearchResults.Alignment' | translate }}</div>
        <div class="col-md-1">&nbsp;</div>
      </div>
    </div>
  </div>

<div class="col-md-12 nopad" *ngIf="careerToAcademic">
  <ul class="list-group search-accordion">
    <li class="list-group-item search-accordion-each"
      [ngClass]="(careerField.isCareerFieldClosed) ? 'accordion-active' : ''"
      *ngFor="let careerField of searchResultDataArray; index as i">

      <!-- Career Field -->
      <!-- add class dynamically if partially selected  checkbox-indeterminate -->
      <div class="row search-accordion-each-inner">
        <div class="col-md-6">
          <div class="accordion-checbox ">
            <span class="ohio-checkbox checkbox checkbox-success">
              <input type="checkbox" class="ohio-checkbox-el" id="careerFieldID_{{i}}"
                [(ngModel)]="careerField.isSelected" name="list_name" value="{{careerField.id}}"
                (ngModelChange)="careerFieldCheckBox(careerField)" />
              <label for="careerFieldID_{{i}}"></label>
            </span>
          </div>
          <span class="level-one-title"> {{careerField.CareerFieldName}}</span>
        </div>

        <div class="col-md-1 search-right-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
        <div class="col-md-3 cg">{{careerField.AcademicSubject[0]}}</div>
        <div class="col-md-1"> <span class="accordion-bubble bubble-green">{{careerField.Alignment[0]}} </span> </div>
        <div class="col-md-1 accordion-down-arrow">
          <span (click)="expandCollapseCareerField(careerField)">
            <i class="fas fa-chevron-up" *ngIf="careerField.isCareerFieldClosed;else isCollapsed"></i>
            <ng-template #isCollapsed><i class="fas fa-chevron-down"></i></ng-template>
          </span>
        </div>
      </div>

      <!-- strands -->
      <div class="child-list" [hidden]="!careerField.isCareerFieldClosed">
        <ul class="list-group level-two">
          <li class="level-two-inner" *ngFor="let strand of careerField.Strand; index as j">
            <div class="row">
              <div class="col-md-6">
                <div class="accordion-checbox">
                  <span class="ohio-checkbox checkbox checkbox-success">
                    <input type="checkbox" class="ohio-checkbox-el" id="strandID_{{j}}" [(ngModel)]="strand.isSelected"
                      name="list_name_child" value="{{strand.id}}"
                      (ngModelChange)="strandCheckBox(careerField, strand)" />
                    <label for="strandID_{{j}}"></label>
                  </span>
                </div>
                <span class="level-two-title">
                  {{strand.StrandName}}
                </span>
              </div>
              <div class="col-md-1"> &nbsp;</div>
              <div class="col-md-3 cg"> {{strand.AcademicSubject[0]}}</div>
              <div class="col-md-1"> <span class="accordion-bubble bubble-blue">{{strand.Alignment[0]}} </span> </div>
              <div class="col-md-1 accordion-down-arrow">

                <span (click)="expandCollapseStrand(strand)" *ngIf="strand.Outcome">
                  <i class="fas fa-chevron-up" *ngIf="strand.isStrandClosed;else isStrandClosed"></i>
                  <ng-template #isStrandClosed><i class="fas fa-chevron-down"></i></ng-template>
                </span>
              </div>
            </div>

            <!-- Outcomes -->
            <div class="child-list" [hidden]="!strand.isStrandClosed">
              <ul class="list-group level-two">
                <li class="level-two-inner" *ngFor="let outcome of strand.Outcome; index as k">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="accordion-checbox">
                        <span class="ohio-checkbox checkbox checkbox-success">
                          <input type="checkbox" class="ohio-checkbox-el" id="outcomeID_{{k}}"
                            [(ngModel)]="outcome.isSelected" name="list_name_child" value="{{outcome.id}}"
                            (ngModelChange)="outcomeCheckBox(careerField, strand, outcome)" />
                          <label for="outcomeID_{{k}}"></label>
                        </span>
                      </div>
                      <span class="level-two-title">
                        {{outcome.OutcomeName}}
                      </span>
                    </div>
                    <div class="col-md-1"> &nbsp;</div>
                    <div class="col-md-3 cg"> {{outcome.AcademicSubject[0]}}</div>
                    <div class="col-md-1"> <span class="accordion-bubble bubble-blue">{{outcome.Alignment[0]}} </span> </div>
                    <div class="col-md-1 accordion-down-arrow">

                      <span (click)="expandCollapseOutcome(outcome)" *ngIf="outcome.Competency">
                        <i class="fas fa-chevron-up" *ngIf="outcome.isOutcomeClosed;else isOutcomeClosed"></i>
                        <ng-template #isOutcomeClosed><i class="fas fa-chevron-down"></i></ng-template>
                      </span>
                    </div>
                  </div>

                  <!-- Competency -->
                  <div class="child-list" [hidden]="!outcome.isOutcomeClosed" *ngIf="outcome.Competency">
                    <ul class="list-group level-three">
                      <li class="list-group-item level-three" *ngFor="let item of outcome.Competency; index as l">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="accordion-checbox">
                              <span class="ohio-checkbox checkbox checkbox-success">
                                <input type="checkbox" class="ohio-checkbox-el" id="competencyID_{{l}}"
                                  [(ngModel)]="item.isSelected" name="list_name_child" value="{{item.id}}"
                                  (ngModelChange)="competencyCheckBox(careerField, strand, outcome)" />
                                <label for="competencyID_{{l}}"></label>
                              </span>
                            </div>
                            <span class="level-three-title">
                              {{item.CompetencyName}}
                            </span>
                          </div>
                          <div class="col-md-1"> &nbsp;</div>
                          <div class="col-md-3 cg"> {{item.AcademicSubject[0]}}</div>
                          <div class="col-md-1"> <span class="accordion-bubble bubble-blue-color">{{item.Alignment[0]}} </span> </div>
                          <div class="col-md-1">
                            &nbsp;
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>

                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<div class="col-md-12 nopad" *ngIf="academicToCareer">
  <ul class="list-group search-accordion">
    <li class="list-group-item search-accordion-each"
      [ngClass]="(careerField.isCareerFieldClosed) ? 'accordion-active' : ''"
      *ngFor="let careerField of formattedData; index as i">

      <!-- Career Field -->
      <div class="row search-accordion-each-inner">
        <div class="col-md-3 cg">
          <div class="accordion-checbox ">
            <span class="ohio-checkbox checkbox checkbox-success">
              <input type="checkbox" class="ohio-checkbox-el" id="careerFieldID_{{i}}"
                [(ngModel)]="careerField.isSelected" name="list_name" value="{{careerField.id}}"
                (ngModelChange)="careerFieldCheckBox(careerField)" />
              <label for="careerFieldID_{{i}}"></label>
            </span>
          </div>
          <span class="level-one-title"> {{careerField.academicSubject}}</span>
        </div>

        <div class="col-md-1 search-right-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
        <div class="col-md-6">
          <span class="level-one-title"> {{careerField.value}}</span>
        </div>

        <div class="col-md-1"> <span class="accordion-bubble bubble-green">10 </span> </div>
        <div class="col-md-1 accordion-down-arrow">
          <span (click)="expandCollapseCareerField(careerField)">
            <i class="fas fa-chevron-up" *ngIf="careerField.isCareerFieldClosed;else isCollapsed"></i>
            <ng-template #isCollapsed><i class="fas fa-chevron-down"></i></ng-template>
          </span>
        </div>
      </div>

      <!-- strands -->
      <div class="child-list" [hidden]="!careerField.isCareerFieldClosed">
        <ul class="list-group level-two">
          <li class="level-two-inner" *ngFor="let strand of careerField.strands; index as j">
            <div class="row">
              <div class="col-md-3 cg">
                <div class="accordion-checbox ">
                  <span class="ohio-checkbox checkbox checkbox-success">
                    <input type="checkbox" class="ohio-checkbox-el" id="strandID_{{j}}" [(ngModel)]="strand.isSelected"
                      name="list_name_child" value="{{strand.id}}"
                      (ngModelChange)="strandCheckBox(careerField, strand)" />
                    <label for="strandID_{{j}}"></label>
                  </span>
                </div>
                <span class="level-two-title">{{strand.academicSubject}}</span>
              </div>
              <div class="col-md-1"> &nbsp;</div>
              <div class="col-md-6">
                <span class="level-two-title">
                  {{strand.value}}
                </span>
              </div>

              <div class="col-md-1"> <span class="accordion-bubble bubble-blue">20 </span> </div>
              <div class="col-md-1 accordion-down-arrow">
                <span (click)="expandCollapseStrand(strand)" *ngIf="strand.outcomes">
                  <i class="fas fa-chevron-up" *ngIf="strand.isStrandClosed;else isStrandClosed"></i>
                  <ng-template #isStrandClosed><i class="fas fa-chevron-down"></i></ng-template>
                </span>
              </div>
            </div>

            <!-- Outcomes -->
            <div class="child-list" [hidden]="!strand.isStrandClosed">
              <ul class="list-group level-two">
                <li class="level-two-inner" *ngFor="let outcome of strand.outcomes; index as k">
                  <div class="row">
                    <div class="col-md-3 cg">
                      <div class="accordion-checbox">
                        <span class="ohio-checkbox checkbox checkbox-success">
                          <input type="checkbox" class="ohio-checkbox-el" id="outcomeID_{{k}}"
                            [(ngModel)]="outcome.isSelected" name="list_name_child" value="{{outcome.id}}"
                            (ngModelChange)="outcomeCheckBox(careerField, strand, outcome)" />
                          <label for="outcomeID_{{k}}"></label>
                        </span>
                      </div>
                      <span class="level-two-title">{{outcome.academicSubject}}</span>
                    </div>
                    <div class="col-md-1"> &nbsp;</div>
                    <div class="col-md-6">{{outcome.value}} </div>
                    <div class="col-md-1"> <span class="accordion-bubble bubble-blue">20 </span> </div>
                    <div class="col-md-1 accordion-down-arrow">

                      <span (click)="expandCollapseOutcome(outcome)" *ngIf="outcome.competency">
                        <i class="fas fa-chevron-up" *ngIf="outcome.isOutcomeClosed;else isOutcomeClosed"></i>
                        <ng-template #isOutcomeClosed><i class="fas fa-chevron-down"></i></ng-template>
                      </span>
                    </div>
                  </div>

                  <!-- Competency -->
                  <div class="child-list" [hidden]="!outcome.isOutcomeClosed" *ngIf="outcome.competency">
                    <ul class="list-group level-three">
                      <li class="list-group-item level-three" *ngFor="let item of outcome.competency; index as l">
                        <div class="row">
                          <div class="col-md-3 cg">
                            <div class="accordion-checbox">
                              <span class="ohio-checkbox checkbox checkbox-success">
                                <input type="checkbox" class="ohio-checkbox-el" id="competencyID_{{l}}"
                                  [(ngModel)]="item.isSelected" name="list_name_child" value="{{item.id}}"
                                  (ngModelChange)="competencyCheckBox(careerField, strand, outcome)" />
                                <label for="competencyID_{{l}}"></label>
                              </span>
                            </div>
                            <span class="level-three-title">{{item.academicSubject}}</span>
                          </div>
                          <div class="col-md-1"> &nbsp;</div>
                          <div class="col-md-6"> {{item.value}}</div>
                          <div class="col-md-1"> <span class="accordion-bubble bubble-blue-color">3</span> </div>
                          <div class="col-md-1">
                            &nbsp;
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>


<div class="pull-right accordion-btn">
  <button type="button" class="ohio-button large but-gap" (click)="getSelect('Report')">Generate</button>
  <button type="button" class="ohio-button large but-gap  secondary" (click)="goBackToSearch()">Cancel</button>
</div>
