.pointerCursor{
  cursor: pointer;
}
.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}
.level-one-title {
  line-height: 20px;
  padding-top: 6px;

}

.color-gap{
  line-height: 20px;
  padding-top: 6px;

}
.search-results-head-right {
  float: right;
}
.careerfield-each-inner {
  padding: 10px 0px;
  margin: 0px;
  font-size: 16px;
  background-color: #f5f5f5;  
}

.careerfield-each-inner  .accordion-checbox {
  margin-top:5px;
}
.strand-each-inner {
  padding: 10px 15px;
  margin: 0 px;
  font-size: 14px;
 background-color: #fff; /*#f5f5f5*/
}
.strand-each-inner .accordion-checbox{
  margin:5px 0 0 20px;
}
.level-two-title{
  padding-top: 6px;
}

.outcome-each-inner {
  padding: 10px 15px;
  margin: 0px;
  font-size: 13px;
  background-color: #fff;
}
.outcome-each-inner .accordion-checbox{
  margin:5px 0 0 30px;
}
.competency-each-inner {
  padding: 10px 15px;
  margin: 0 px;
  font-size:14px;
  background-color: #fff;
}
.competency-each-inner .accordion-checbox{
  margin:8px 0 0 50px;
}
.competency-each-inner .level-three-title{
  padding-top: 8px;
}