<div class="col-md-12"> 
  <div class="search-accordion-each"  [attr.id]="'accordion_' + i + loopCount" *ngFor="let option of options; let i = index;">
      <div class="card">
          <div class="card-header">
             <div class="row"> 
               <div class="col-md-4"><input type="checkbox" [(ngModel)]="option.selected"  (change)="checkAll(option)" /> &nbsp; Arts and Communication</div>
               <div class="col-md-2"><i class="fa fa-long-arrow-right search-right-arrow" aria-hidden="true"></i></div>
               <div class="col-md-3 cg">ELA</div>
               <div class="col-md-2"> <span class="bubble-green">10 </span>  </div>
               <div class="col-md-1">
                    <a role="button" data-toggle="collapse" [attr.href]="'#collapseOne_' + i + loopCount" *ngIf="option.children">
                        <i class="fa fa-angle-down search-down-arrow" aria-hidden="true"></i>

                </a></div>
                 
                   <!-- {{option.value}} {{'row' +  i + loopCount}} -->
                 

                  
              </div> 
          </div>
          <div [attr.id]="'collapseOne_' + i + loopCount" class="collapse" >
              <div class="card-body"> 
                <custom-accordion [options]="option.children" [loopCount]="loopCount + i + 1"></custom-accordion>
              </div>
          </div>
      </div>
  </div>
</div>


