@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.utility {
    width: 715px;
    position: fixed;
    top: 184px;
    left: 73px;
    height: 100vh;
    z-index: 5;
    background: #700017;
    color: #555;
    animation: .4s ease-in 0s 1 slideInFromLeft;
}
.close-slider
{
    color:white; 
    font-size:20px; 
    margin-right:2%;
    position: relative;
    top: 16px;
    z-index: 2;
}
.close-slider-flags
{
    color:white; 
    font-size:20px; 
    margin-right:7%;
    position: relative;
    top: 16px;
    z-index: 2;
}
