.utility {
    position: absolute;
    top: 0;
    left: 56px;
    width: 94%;
}
.close-slider
{
    color:#700017; 
    font-size:20px; 
    margin-right:2%;
    position: relative;
    top: 16px;
    z-index: 2;
}
.close-slider-flags
{
    color:#700017; 
    font-size:20px; 
    margin-right:7%;
    position: relative;
    top: 16px;
    z-index: 2;
}



 

  


