<div class="col-md-12">
  <h1>Alignment Search </h1>
  <div class="searchmain">
<div class="row">
<!-- Search Form Begin -->
<div class="col-md-6">
      <label  for="keywordInput" class="ohio-field-status" for="field-example-8">
        <span class="ohio-field-label">{{ 'SearchFields.Keywords' | translate }}</span>

        <div class="input-group">
              <input type="search" class="ohio-field-input" id="keywordInput"
              placeholder="{{ 'SearchFields.Keywords' | translate }} . . ." [(ngModel)]="selectedKeyword">

          <span class="input-group-addon">
              <i id="filtersubmit"  class="fa fa-search" aria-hidden="true"></i>
  </span>
        </div>

      </label>
    </div>



</div>

<!-- Dropdown row -->
<div class="row">
<div class="form-group col-md-6">
  <label>{{ 'SearchFields.CareerField' | translate }}</label>
  <ng-multiselect-dropdown [ngClass]="" [data]="careers" [(ngModel)]="selectedCareer"
      [settings]="careerFieldDropdownSettings"  (onSelect)="onCareerSelect()" (onDeSelect)="onCareerSelect()">
  </ng-multiselect-dropdown>
</div>
<div class="form-group col-md-6">
  <label>{{ 'SearchFields.AcademicSubjects' | translate }}</label>
  <ng-multiselect-dropdown [ngClass]="" [data]="academicSubjects"
      [(ngModel)]="selectedAcadamicSubjects" [settings]="academicSubjectDropdownSettings"
     >
  </ng-multiselect-dropdown>
</div>


<div class="col-md-6">
  <div class="row">
      <div class="form-group col-md-6"  >
          <label>{{ 'SearchFields.Strands' | translate }}</label>
          <ng-multiselect-dropdown [ngClass]="" [data]="strandsDropdown" [(ngModel)]="selectedStrands"
              [settings]="strandDropdownSettings" (onSelect)="onStrandSelect()" (onDeSelect)="onStrandSelect()">
          </ng-multiselect-dropdown>
      </div>
      <div class="form-group col-md-6" >
          <label>{{ 'SearchFields.Outcomes' | translate }}</label>
          <ng-multiselect-dropdown [ngClass]="" [data]="outcomesDropdown" [(ngModel)]="selectedOutcome"
              [settings]="outcomeDropdownSettings" (onSelect)="onOutcomeSelect()">
          </ng-multiselect-dropdown>
      </div>
      <!-- End Dropdown Row -->
  </div>



  <div class="row">
  <div class="form-group col-md-12">
      <label for="competencyInput">{{ 'SearchFields.CompetencyNumber' | translate }}</label>
      <ng-multiselect-dropdown [ngClass]="" [data]="competencyNumbers"
          [(ngModel)]="selectedCompetencyNumbers" [settings]="compitencyDropdownSettings"
          >
      </ng-multiselect-dropdown>
  </div> </div>
</div>



<!-- Dynamic dropdowns of Academic subjects -->
<div class="col-md-6">
  <div class="dynamic-academics" *ngFor="let policy of selectedAcadamicSubjects;let i = index;">

    <div *ngIf="policy.SubjectId ==1">
      <h3>{{policy.SubjectName}}</h3>

              <div class="row">
                  <div class="form-group col-md-4">
                      <label>Grade / Subject</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="gradeMathData" [(ngModel)]="selectedGradesI1" 
                          [settings]="academicDropdownSettings" (onSelect)="onMathGradeSelect(selectedGradesI1,policy)"  (onDeSelect)="onMathGradeSelect(selectedGradesI1,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Cluster</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="clusterMathData" [(ngModel)]="selectedClustersI1"
                          [settings]="academicDropdownSettings" (onSelect)="onMathClusterSelect(selectedClustersI1,policy)"  (onDeSelect)="onMathClusterSelect(selectedClustersI1,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Standard Number</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="standardMathData"
                          [(ngModel)]="selectedStandardNumbersI1" [settings]="academicDropdownSettings"
                          (onSelect)="onMathStandardNumberSelect(selectedStandardNumbersI1,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
              </div>
    </div>

    <div  *ngIf="policy.SubjectId ==2">
      <h3>{{policy.SubjectName}}</h3>

              <div class="row">
                  <div class="form-group col-md-4">
                      <label>Grade</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="gradeELAdata" [(ngModel)]="selectedGradesI2"
                          [settings]="academicDropdownSettings" (onSelect)="onELAgradeSelect(selectedGradesI2,policy)" (onDeSelect)="onELAgradeSelect(selectedGradesI2,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Domain</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="clusterELAdata" [(ngModel)]="selectedClustersI2"
                          [settings]="academicDropdownSettings" (onSelect)="onELAclusterSelect(selectedClustersI2,policy)"  (onDeSelect)="onELAclusterSelect(selectedClustersI2,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Standard Number</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="standardELAdata"
                          [(ngModel)]="selectedStandardNumbersI2" [settings]="academicDropdownSettings"
                          (onSelect)="onELAstandardNumberSelect(selectedStandardNumbersI2,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
              </div>
    </div>

    <div *ngIf="policy.SubjectId ==3">
      <h3>{{policy.SubjectName}}</h3>
              <div class="row">
                  <div class="form-group col-md-4">
                      <label>Domain</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="gradeScienceData" [(ngModel)]="selectedGradesI3"
                          [settings]="academicDropdownSettings" (onSelect)="onScienceGradeSelect(selectedGradesI3,policy)" (onDeSelect)="onScienceGradeSelect(selectedGradesI3,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Grade Band</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="clusterScienceData" [(ngModel)]="selectedClustersI3"
                          [settings]="academicDropdownSettings" (onSelect)="onScienceClusterSelect(selectedClustersI3,policy)"  (onDeSelect)="onScienceClusterSelect(selectedClustersI3,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Standard Number</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="standardScienceData"
                          [(ngModel)]="selectedStandardNumbersI3" [settings]="academicDropdownSettings"
                          (onSelect)="onScienceStandardNumberSelect(selectedStandardNumbersI3,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
              </div>
    </div>

    <div *ngIf="policy.SubjectId ==4">
      <h3>{{policy.SubjectName}}</h3>

              <div class="row">
                  <div class="form-group col-md-4">
                      <label>Grade</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="gradeSocialData" [(ngModel)]="selectedGradesI4"
                          [settings]="academicDropdownSettings" (onSelect)="onSocialGradeSelect(selectedGradesI4,policy)"  (onDeSelect)="onSocialGradeSelect(selectedGradesI4,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Domain</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="clusterSocialData" [(ngModel)]="selectedClustersI4"
                          [settings]="academicDropdownSettings" (onSelect)="onSocialClusterSelect(selectedClustersI4,policy)"  (onDeSelect)="onSocialClusterSelect(selectedClustersI4,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
                  <div class="form-group col-md-4">
                      <label>Standard Number</label>
                      <ng-multiselect-dropdown [ngClass]="" [data]="clusterSocialData"
                          [(ngModel)]="selectedStandardNumbersI4" [settings]="academicDropdownSettings"
                          (onSelect)="onSocialStandardNumberSelect(selectedStandardNumbersI4,policy)"
                          >
                      </ng-multiselect-dropdown>
                  </div>
              </div>
    </div>
      <!-- End of Dynamic dropdowns of Academic subjects -->
  </div>
  <!-- End of CareerField and Academic row -->
</div>
<!-- END OF PUSH/PULLED COLUMNS -->
</div>


<!-- Button Row -->
<div class="row">
  <div class="pull-right search-btn">
  <button type="button" class="ohio-button large but-gap"
      (click)="search()">{{ 'SearchFields.Search' | translate }}</button>
  <button type="button"
      class="ohio-button large but-gap  secondary">{{ 'SearchFields.Cancel' | translate }}</button>
</div>
</div> </div>
