<main class="main myapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h2>My Apps</h2>
                    <p class="note">You are currently subscribed to the apps below - clicking the "X" on the app tile will unsubscribe you from the app and reinstating your subscription may require additional approval.</p>

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/home.png" alt="Home icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>Department of Education Application Request</h3>
                            <p>Request access to Education applications</p>
                        </div>
                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/home.png" alt="Home icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>Department of Education Profile setup</h3>
                            <p>Create a profile with the Department</p>
                        </div>
                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/home.png" alt="Home icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>Educator Discipline Database</h3>
                            <p>Conduct & discipline investigations</p>
                        </div>
                    </div>
                    <!-- app container -->



                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/user.png" alt="User icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>Educator Licensure and Records (CORE)</h3>
                            <p>Apply, renew, and maintain licenses</p>
                        </div>
                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/home.png" alt="Home icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>Ohio Education Directory System (OEDS)</h3>
                            <p>Directory of schools and disctricts</p>
                        </div>
                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/signal.png" alt="Signal icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>The Ohio Business Gateway Taxation</h3>
                            <p>Ohio Business Gateway Taxation</p>
                        </div>
                    </div>
                    <!-- app container -->




                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/calendar.png" alt="Calendar icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>Training and Registration</h3>
                            <p>Register for training or an event Search for standards by design</p>
                        </div>
                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/home.png" alt="Home icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>Ohio Education Standards by Design</h3>
                            <p>Search for standards by design</p>
                        </div>
                    </div>
                    <!-- app container -->
                    <div class="clearfix"></div>


                    <div class="app-search-container">
                        <div>
                            <h2 class="avl-apps">Available Apps</h2>
                        </div>
                        <div>
                            <div class="search ">
                                <input type="text" class="search-input" placeholder="Search">
                                <Button>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </Button>
                            </div>
                        </div>
                    </div>
                    <!-- app search container -->


                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/calculator.png" alt="Calculator icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>DOPP UAT Portal</h3>
                            <p>Access DODD applications for User Acceptance Testing <br>(UAT)</p>
                        </div>
                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/signal.png" alt="Home icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>The Ohio Business Gateway Breakfix</h3>
                            <p>Ohio Business Gateway Breakfix Back Office Portal</p>
                        </div>



                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/signal.png" alt="Signal icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>The Ohio Business Gateway GoLive</h3>
                            <p>Ohio Business Gateway GoLive Back Office Portal</p>
                        </div>
                    </div>
                    <!-- app container -->




                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/signal.png" alt="Signal icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>The Ohio Business Gateway UAT</h3>
                            <p>Ohio Business Gateway UAT Back Office Portal</p>
                        </div>



                    </div>
                    <!-- app container -->

                    <div class="app-container">
                        <div class="icon-container">
                            <img src="../../assets/images/signal.png" alt="Signal icon">
                        </div>
                        <div class="text-container">
                            <div class="close-container">
                                <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                            </div>
                            <h3>The Ohio Business Gateway UAT</h3>
                            <p>Ohio Business Gateway UAT Back Office Portal</p>
                        </div>
                    </div>
                    <!-- app container -->

                    <div class="clearfix"></div>


                </div>
                <!-- col 12 -->
            </div>
        </div>
    </main>