<form [formGroup]="subjectForm" class="card-body-content search-container">
  <div class="row">
    <div class="col-xs-12">
      <label class="ohio-field">
        <textarea class="ohio-field-input" type="text" formControlName="comment"></textarea>
      </label>
      <div *ngIf="comment.invalid && (comment.dirty || comment.touched)">
        <div class="small" *ngIf="comment.errors.required" style="color:red">
          {{content.errors.comment.required}}
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <span>
        <input disabled type="text" class="ohio-field-input character-count mini-comments" [value]="comment.value.length">
      </span>
      <span class="title_green_med">
        {{content.characterCountLbl}}
      </span>
      <span class="button-right">
        <button class="ohio-button x-small info" title="Cancel Add Document(s)" type="button" (click)="cancel()">{{content.cancelBtn}}</button>
        <button (click)="reply()" class="ohio-button x-small">{{content.addReplyBtn}}</button>
      </span>
    </div>
  </div>
</form>