<app-card [title]="subject.subjectText">
  <div class="card-header-content">
    <div>
      <h3 class="section-header-text mini-comments">
        <b>{{subject.subjectText}}</b>
        <button [appFocus]="focusOnReplies" (click)="toggleReplies()"
          class="ohio-button secondary success x-small replies-btn">
          <span>{{subject.comments.length}} replies </span>
          <i class="fa fa-comments fa-lg"></i>
        </button>
      </h3>
    </div>
  </div>
  <div class="card-body-content">
    <div *ngIf="showLastMessage">
      <div>
        <app-comment [comment]="subject.comments[0]" [showSeparator]="false" [editable]="false" [expandDetail]="false">
        </app-comment>
      </div>
    </div>
    <div *ngIf="showReplies">
      <div>
        <app-message-editor [errors]="content.comment.errors" (cancel)="toggleReplies()" (ok)="reply($event)"
          [maxLength]="commentMaxLength" [okBtnText]="content.replyBtnText" [cancelBtnText]="cancelBtnText">
        </app-message-editor>
        <hr class="form shelf" *ngIf="separatorAfterFirstComment">
        <app-comment [editable]="isEditable(comment)" (edit)="editComment(comment)"
          *ngFor="let comment of subject.comments; last as isLast" [comment]="comment"
          [showSeparator]="showSeparator(isLast)" [expandDetail]="true"></app-comment>
      </div>
    </div>
  </div>
</app-card>