.level-one-title {
  line-height: 20px;
  padding-top: 1px;
  font-size: 16px;
}
.search-results-head-right {
  float: right;
}
.careerfield-each-inner {
 padding: 5px 10px;
  margin-left: 0px;
  font-size: 16px;
  background-color: #f5f5f5;
}

.careerfield-each-inner .accordion-checbox {
  margin: 1px 0 0 0;
}

.strand-each-inner {
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
  font-size: 14px;
  background-color: #fff;
}
.strand-each-inner .accordion-checbox {
  margin: 1px 0 0 25px;
}

.outcome-each-inner {
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
  font-size: 13px;
  background-color: #fff;
}

.outcome-each-inner .accordion-checbox {
  margin: 1px 0 0 45px;
}

.competency-each-inner {
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
  font-size: 12px;
  background-color: #fff;

 }

 .level-two-title{
  padding: 1px 0 0 0;
}

.outcome-each-inner .level-two-title{
  max-width:calc(100% - 100px);
  }
  .color-gap{
    line-height: 20px;
    padding-top: 6px;
  
  }
.accordion-label-career {
  padding-left: 30px;
  font-size: 7pt;
  color: #700017;
}