<div *ngIf="!noCourseResultFound">
    <div class="search-results-head row">
        <div class="col-md-10 search-results-head-left">
            <h3>{{ 'SearchResults.SearchResults' | translate }}</h3>
            <p *ngIf="totalSearchResults"> Found {{totalSearchResults}} courses for your search criteria</p>
        </div>
        <div class="col-md-2 search-results-head-right pull-right">
            <button (click)="onToggleClick(careerPathToSubject)">{{ 'SearchResults.ToggleAlignments' | translate }}
                &nbsp;
                <i class="fa fa-exchange"></i></button>
        </div>
    </div>
    <div class="search-results">



        <div class="search-accordion" *ngIf="careerPathToSubject">
            <div class="search-accordion-head">
                <div class="row">

                    <div class="col-md-5">{{ 'CourseFields.CareerField' | translate }}</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-3">{{ 'CourseFields.AcademicSubjects' | translate }}</div>
                    <div class="col-md-1">{{ 'CourseFields.Alignment' | translate }}</div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
            </div>


        </div>

        <div class="search-accordion" *ngIf="!careerPathToSubject">
            <div class="search-accordion-head">
                <div class="row">
                    <div class="col-md-3">{{ 'CourseFields.AcademicSubjects' | translate }}</div>
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-5">{{ 'CourseFields.CareerField' | translate }}</div>
                    <div class="col-md-1">{{ 'CourseFields.Alignment' | translate }}</div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
            </div>
        </div>


        <div class="col-md-12 nopad" *ngIf="careerPathToSubject">
            <ul class="list-group search-accordion">
                <li class="list-group-item search-accordion-each"
                    [ngClass]="(careerPath.isCareerPathClosed) ? 'accordion-active' : ''"
                    *ngFor="let careerPath of careerPathToSubjectData; index as i">

                    <!-- Career Path -->
                    <div class="careerfield-each-inner" (click)="expandCollapseCareerPath(careerPath)">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="accordion-label-career">Career Path</div>
                                <div class="accordion-checbox ">
                                    <span class="ohio-checkbox checkbox checkbox-success">
                                        <input type="checkbox" class="ohio-checkbox-el" id="careerPathID_{{i}}"
                                            [(ngModel)]="careerPath.isSelected" name="list_name"
                                            value="{{careerPath.CareerPathId}}"
                                            (ngModelChange)="careerPathCheckBox(careerPath);$event.stopPropagation()" />
                                        <label for="careerPathID_{{i}}"></label>
                                    </span>
                                </div>
                                <span class="level-one-title"> {{careerPath.CareerPathName}}</span>
                            </div>

                            <div class="col-md-2 search-right-arrow"><i class="fa fa-long-arrow-right"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="col-md-3 color-gap" [style.color]="findSubjectColor(careerPath.SubjectName)">{{careerPath.SubjectName}}</div>
                            <div class="col-md-1"> <span class="accordion-bubble" style="color:white"
                                    [style.background-color]="findSubjectColor(careerPath.SubjectName)"
                                    *ngIf="careerPath.AlignmentCount">{{careerPath.AlignmentCount}} </span> </div>
                            <div class="col-md-1 accordion-down-arrow">
                                <span>
                                    <i class="fas fa-chevron-up"
                                        *ngIf="careerPath.isCareerPathClosed;else isCollapsed"></i>
                                    <ng-template #isCollapsed><i class="fas fa-chevron-down"></i></ng-template>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Courses -->
                    <div class="child-list" [hidden]="!careerPath.isCareerPathClosed">
                        <ul class="list-group level-two">
                            <li class="level-two-inner" *ngFor="let course of careerPath.Courses; index as j">
                                <div class="strand-each-inner" (click)="expandCollapseCourse(course)">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="accordion-checbox">
                                                <span class="ohio-checkbox checkbox checkbox-success">
                                                    <input type="checkbox" class="ohio-checkbox-el" id="courseID_{{j}}"
                                                        [(ngModel)]="course.isSelected" name="list_name_child"
                                                        value="{{course.CourseId}}"
                                                        (ngModelChange)="courseCheckBox(careerPath, course);$event.stopPropagation()" />
                                                    <label for="courseID_{{j}}"></label>
                                                </span>
                                            </div>
                                            <span class="level-two-title">
                                                {{course.CourseName}}
                                            </span>
                                        </div>
                                        <div class="col-md-1"> &nbsp;</div>
                                        <div class="col-md-3"
                                            [style.color]="findSubjectColor(careerPath.SubjectName)">
                                            {{course.SubjectName}}</div>
                                        <div class="col-md-1"> <span class="accordion-bubble" style="color:white"
                                                [style.background-color]="findSubjectColor(careerPath.SubjectName)"
                                                *ngIf="course.AlignmentCount">{{course.AlignmentCount}} </span> </div>
                                        <div class="col-md-1 accordion-down-arrow">

                                            <span *ngIf="course.Competencies">
                                                <i class="fas fa-chevron-up"
                                                    *ngIf="course.isCourseClosed;else isCourseClosed"></i>
                                                <ng-template #isCourseClosed><i class="fas fa-chevron-down"></i>
                                                </ng-template>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Competencies -->
                                <div class="child-list" [hidden]="!course.isCourseClosed">
                                    <ul class="list-group level-two">
                                        <li class="level-two-inner"
                                            *ngFor="let competency of course.Competencies; index as k">
                                            <div class="outcome-each-inner">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="accordion-checbox">
                                                            <span class="ohio-checkbox checkbox checkbox-success">
                                                                <input type="checkbox" class="ohio-checkbox-el"
                                                                    id="competencyID_{{k}}"
                                                                    [(ngModel)]="competency.isSelected"
                                                                    name="list_name_child" value="{{competency.Id}}"
                                                                    (ngModelChange)="competencyCheckBox(careerPath, course);$event.stopPropagation()" />
                                                                <label for="competencyID_{{k}}"></label>
                                                            </span>
                                                        </div>
                                                        <span class="level-two-title">
                                                            {{competency.Competency}}
                                                        </span>
                                                    </div>
                                                    <div class="col-md-1"> &nbsp;</div>
                                                    <div class="col-md-3"
                                                        [style.color]="findSubjectColor(careerPath.SubjectName)">
                                                        {{course.SubjectName}}</div>
                                                    <div class="col-md-1"> <span class="accordion-bubble"
                                                            style="color:white"
                                                            [style.background-color]="findSubjectColor(careerPath.SubjectName)"
                                                            *ngIf="competency.AlignmentCount">{{competency.AlignmentCount}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-md-12 nopad" *ngIf="!careerPathToSubject">
            <ul class="list-group search-accordion">
                <li class="list-group-item search-accordion-each"
                    [ngClass]="(subject.isCareerPathClosed) ? 'accordion-active' : ''"
                    *ngFor="let subject of subjectToCareerPathData; index as i">

                    <!-- Subject -->
                    <div class="careerfield-each-inner" (click)="expandCollapseCareerPath(subject)">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="accordion-checbox ">
                                    <span class="ohio-checkbox checkbox checkbox-success">
                                        <input type="checkbox" class="ohio-checkbox-el" id="subjectID_{{i}}"
                                            [(ngModel)]="subject.isSelected" name="list_name"
                                            value="{{subject.SubjectId}}"
                                            (ngModelChange)="subjectCheckBox(subject);$event.stopPropagation()" />
                                        <label for="subjectID_{{i}}"></label>
                                    </span>
                                </div>
                                <span class="level-one-title" [style.color]="findSubjectColor(subject.SubjectName)">
                                    {{subject.SubjectName}}</span>
                            </div>

                            <div class="col-md-2 search-right-arrow"><i class="fa fa-long-arrow-right"
                                    aria-hidden="true"></i>
                            </div>
                            <div class="col-md-5">{{subject.CareerPathName}}</div>
                            <div class="col-md-1"> <span class="accordion-bubble" style="color:white"
                                    [style.background-color]="findSubjectColor(subject.SubjectName)"
                                    *ngIf="subject.AlignmentCount">{{subject.AlignmentCount}} </span> </div>
                            <div class="col-md-1 accordion-down-arrow">
                                <span>
                                    <i class="fas fa-chevron-up"
                                        *ngIf="subject.isCareerPathClosed;else isCollapsed"></i>
                                    <ng-template #isCollapsed><i class="fas fa-chevron-down"></i></ng-template>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- Career Path -->
                    <div class="child-list" [hidden]="!subject.isCareerPathClosed">
                        <ul class="list-group level-two">
                            <li class="level-two-inner" *ngFor="let course of subject.SubjecToStandards; index as j">
                                <div class="strand-each-inner" (click)="expandCollapseCourse(course)">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="accordion-checbox">
                                                <span class="ohio-checkbox checkbox checkbox-success">
                                                    <input type="checkbox" class="ohio-checkbox-el" id="courseID_{{j}}"
                                                        [(ngModel)]="course.isSelected" name="list_name_child"
                                                        value="{{course.CourseId}}"
                                                        (ngModelChange)="gradeCheckBox(subject, course);$event.stopPropagation()" />
                                                    <label for="courseID_{{j}}"></label>
                                                </span>
                                            </div>
                                            <span class="level-two-title">
                                                {{course.Level1Value}}
                                            </span>
                                        </div>
                                        <div class="col-md-2"> &nbsp;</div>
                                        <div class="col-md-5">{{subject.CareerPathName}} </div>
                                        <div class="col-md-1"> <span class="accordion-bubble" style="color:white"
                                                [style.background-color]="findSubjectColor(subject.SubjectName)"
                                                *ngIf="course.AlignmentCount">{{course.AlignmentCount}} </span> </div>
                                        <div class="col-md-1 accordion-down-arrow">

                                            <span *ngIf="course.Standards">
                                                <i class="fas fa-chevron-up"
                                                    *ngIf="course.isCourseClosed;else isCourseClosed"></i>
                                                <ng-template #isCourseClosed><i class="fas fa-chevron-down"></i>
                                                </ng-template>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="child-list" [hidden]="!course.isCourseClosed">
                                    <ul class="list-group level-two">
                                        <li class="level-two-inner"
                                            *ngFor="let standard of course.Standards; index as k">
                                            <div class="outcome-each-inner">
                                                <div class="row">

                                                    <div class="col-md-3">
                                                        <div class="accordion-checbox">
                                                            <span class="ohio-checkbox checkbox checkbox-success">
                                                                <input type="checkbox" class="ohio-checkbox-el"
                                                                    id="standardID_{{k}}"
                                                                    [(ngModel)]="standard.isSelected"
                                                                    name="list_name_child" value="{{standard.Id}}"
                                                                    (ngModelChange)="standardCheckBox(subject, course);$event.stopPropagation()" />
                                                                <label for="standardID_{{k}}"></label>
                                                            </span>
                                                        </div>
                                                        <span class="level-two-title">
                                                            {{standard.StandardDesc}}
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2"> &nbsp;</div>
                                                    <div class="col-md-5">{{subject.CareerPathName}} </div>
                                                    <div class="col-md-1"> <span class="accordion-bubble"
                                                            style="color:white"
                                                            [style.background-color]="findSubjectColor(subject.SubjectName)"
                                                            *ngIf="standard.AlignmentCount">{{standard.AlignmentCount}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="pull-right accordion-btn">
        <button type="button" class="ohio-button large but-gap"
            (click)="getCourseSearchReport('CourseSearchReport')">Generate</button>
        <button type="button" class="ohio-button large but-gap  secondary"
            (click)="goBackToCourseSearch()">Cancel</button>
    </div>
</div>

<div class="col-md-12 main" *ngIf="noCourseResultFound">
    <h1>{{'SearchResults.NoResultFound' | translate}}</h1>
</div>
