.nav-item {
  color: white;
  overflow: hidden;
}
.nav-item a {
  color: white;
  padding: 0 10px 0 10px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}
.nav-item a:hover {
  color: white;
}

.nav-item a.active {
  color: white;
}
.navbar-color {
  background-color: #6f0116;
  border-radius: 0px;
}
.link {
  cursor: pointer;
}
.menuList > li:hover {
  background: #540011;
  color: #fff;
}
.menuList li:hover a {
  color: #fff;
}

.menuList .dropdown-menu li:hover a {
  color: #700017 !important;
}
