<div class="home main row container">

    <div class="col-md-6">
        <h1>SBD Data Import</h1>

        <p id="demo"></p>

        <!-- export Dropdown -->
        <div class="form-group col-md-12">
            <label>Import</label>
            <ng-multiselect-dropdown [ngClass]="" [settings]="dropdownSettings">
            </ng-multiselect-dropdown>
        </div>

        <!-- export input -->
        <div class="col-md-12">
            <label class="ohio-upload-single input-group" for="excel-upload">
                <input  [(ngModel)]="uploadedFile" type="file" class="ohio-upload-single-file" id="excel-upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                <span class="ohio-upload-single-label form-control">Choose a file</span>
                <span class="input-group-btn">
                    <span class="ohio-upload-single-btn btn" type="button" for="excel-upload">
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                    </span>
                </span>
            </label>
        </div>

        <!-- Button Row -->
        <div class="row">
            <div class="pull-right export-btn">
                <button type="button" class="ohio-button large but-gap">Import</button>
                <button type="button"
                    class="ohio-button large but-gap secondary">Cancel</button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <!-- Right Side Content  -->
    </div>


</div>
