.import-btn {
    margin: 10px;
}
.ohio-upload-single-label {
  /* width: 200px;
  height: 200px; */
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1; 
}
.ohio-upload-single-btn:hover {
    color: #700017;
    background-color: white;
}