<div class="home main col-md-12">

  <!-- <fieldset class="ohio-input-group">
    <div class="ohio-checkbox checkbox checkbox-success checkbox-indeterminate">
      <input class="ohio-checkbox-el" id="checkbox-example-2" type="checkbox" value="">
      <label for="checkbox-example-2">
      </label>
    </div>
    <div class="ohio-checkbox checkbox checkbox-success ">
      <input class="ohio-checkbox-el" id="checkbox-example-3" type="checkbox" value="">
      <label for="checkbox-example-3">
      </label>
    </div>
    <div class="ohio-checkbox checkbox checkbox-success ">
      <input class="ohio-checkbox-el" id="checkbox-example-4" type="checkbox" value="" checked="checked">
      <label for="checkbox-example-4">
      </label>
    </div>
  </fieldset> -->

  <h1>Home Page </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dui odio, ullamcorper et erat in, vulputate
    dignissim arcu. Sed volutpat mi sit amet nunc ullamcorper dictum. Sed semper mauris ac enim lacinia tempor. Fusce
    vitae libero eu metus eleifend porttitor sed finibus libero. Fusce rhoncus mollis elit id sollicitudin. Vestibulum
    interdum sapien in tincidunt cursus. Phasellus ullamcorper id purus eget sollicitudin. Sed eleifend est nec metus
    rhoncus, ac interdum erat auctor. Nullam laoreet enim fringilla, euismod dolor at, dignissim nibh. Sed non nulla non
    erat volutpat faucibus id sed mauris. </p>

  <p>Donec euismod velit ac ex pulvinar, et ultricies ligula placerat. Nunc vulputate nibh est, in semper elit vehicula
    a. Integer nulla urna, porttitor at lorem et, venenatis mattis erat. Nulla convallis iaculis congue. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ultrices scelerisque neque,
    in lacinia tellus eleifend non. Pellentesque vestibulum pretium efficitur. Suspendisse elementum, ipsum in lobortis
    rhoncus, ipsum sapien lobortis arcu, a luctus elit lorem eu elit. Integer nec ornare tellus. Proin tristique
    consectetur mauris id laoreet. Suspendisse dapibus purus sed urna iaculis porttitor. Quisque efficitur ex lacus, non
    interdum quam malesuada euismod. Ut facilisis porta imperdiet. Nullam volutpat libero sed eleifend mattis. Duis
    auctor nibh vel aliquet volutpat.

  </p>
  <p>Nulla facilisi. Integer lorem justo, rutrum a dignissim eget, dapibus eget turpis. Duis pellentesque ante sed odio
    eleifend aliquet. Curabitur vulputate, libero tempus scelerisque commodo, enim ligula suscipit elit, ac tristique ex
    eros sed turpis. Nullam sit amet nunc et justo blandit vehicula eu in dui. Aenean vitae magna consectetur, vehicula
    odio lobortis, sollicitudin urna. Vestibulum lacus quam, gravida id lacus eu, vehicula congue ante. Phasellus
    condimentum placerat diam. Sed mollis urna lacus, quis vehicula est tempor aliquet.

  </p>

  <p> Quisque finibus eu sem et hendrerit. Suspendisse convallis lorem ut elit pulvinar, id convallis elit ultricies.
    Phasellus molestie imperdiet tincidunt. Donec sagittis sed lacus eu placerat. Morbi vel maximus nisl. Vivamus vel
    nulla orci. Vivamus ipsum felis, porta eget lacus quis, fermentum vulputate dolor. Aliquam eget dignissim odio.
    Fusce volutpat leo nec gravida rhoncus. Nulla ultrices dolor a arcu convallis maximus. Duis mattis orci vitae massa
    faucibus rutrum. Phasellus eu sapien neque. Donec rhoncus mi lacus, eu consectetur magna consequat in. Sed
    vulputate, risus tincidunt scelerisque elementum, urna velit mattis enim, ac iaculis tortor ante vitae velit. Donec
    sit amet diam justo.

  </p>
  <p>Pellentesque posuere cursus tempus. Donec condimentum congue justo, et vehicula mi auctor sed. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Quisque eu aliquam velit. Etiam porta accumsan nulla, a interdum
    lacus volutpat in. Maecenas pharetra auctor sem vitae pretium. Vivamus sagittis porta dolor, ut efficitur eros.
    Quisque rutrum mauris at mauris tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Proin odio nulla, interdum in pharetra pharetra, posuere vel nisl. Curabitur interdum mattis eleifend. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sapien libero, congue quis
    facilisis ut, faucibus in lorem. In faucibus rutrum pulvinar.

  </p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dui odio, ullamcorper et erat in, vulputate
    dignissim arcu. Sed volutpat mi sit amet nunc ullamcorper dictum. Sed semper mauris ac enim lacinia tempor. Fusce
    vitae libero eu metus eleifend porttitor sed finibus libero. Fusce rhoncus mollis elit id sollicitudin. Vestibulum
    interdum sapien in tincidunt cursus. Phasellus ullamcorper id purus eget sollicitudin. Sed eleifend est nec metus
    rhoncus, ac interdum erat auctor. Nullam laoreet enim fringilla, euismod dolor at, dignissim nibh. Sed non nulla non
    erat volutpat faucibus id sed mauris. </p>

  <p>Donec euismod velit ac ex pulvinar, et ultricies ligula placerat. Nunc vulputate nibh est, in semper elit vehicula
    a. Integer nulla urna, porttitor at lorem et, venenatis mattis erat. Nulla convallis iaculis congue. Pellentesque
    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec ultrices scelerisque neque,
    in lacinia tellus eleifend non. Pellentesque vestibulum pretium efficitur. Suspendisse elementum, ipsum in lobortis
    rhoncus, ipsum sapien lobortis arcu, a luctus elit lorem eu elit. Integer nec ornare tellus. Proin tristique
    consectetur mauris id laoreet. Suspendisse dapibus purus sed urna iaculis porttitor. Quisque efficitur ex lacus, non
    interdum quam malesuada euismod. Ut facilisis porta imperdiet. Nullam volutpat libero sed eleifend mattis. Duis
    auctor nibh vel aliquet volutpat.

  </p>
  <p>Nulla facilisi. Integer lorem justo, rutrum a dignissim eget, dapibus eget turpis. Duis pellentesque ante sed odio
    eleifend aliquet. Curabitur vulputate, libero tempus scelerisque commodo, enim ligula suscipit elit, ac tristique ex
    eros sed turpis. Nullam sit amet nunc et justo blandit vehicula eu in dui. Aenean vitae magna consectetur, vehicula
    odio lobortis, sollicitudin urna. Vestibulum lacus quam, gravida id lacus eu, vehicula congue ante. Phasellus
    condimentum placerat diam. Sed mollis urna lacus, quis vehicula est tempor aliquet.

  </p>

  <p> Quisque finibus eu sem et hendrerit. Suspendisse convallis lorem ut elit pulvinar, id convallis elit ultricies.
    Phasellus molestie imperdiet tincidunt. Donec sagittis sed lacus eu placerat. Morbi vel maximus nisl. Vivamus vel
    nulla orci. Vivamus ipsum felis, porta eget lacus quis, fermentum vulputate dolor. Aliquam eget dignissim odio.
    Fusce volutpat leo nec gravida rhoncus. Nulla ultrices dolor a arcu convallis maximus. Duis mattis orci vitae massa
    faucibus rutrum. Phasellus eu sapien neque. Donec rhoncus mi lacus, eu consectetur magna consequat in. Sed
    vulputate, risus tincidunt scelerisque elementum, urna velit mattis enim, ac iaculis tortor ante vitae velit. Donec
    sit amet diam justo.

  </p>
  <p>Pellentesque posuere cursus tempus. Donec condimentum congue justo, et vehicula mi auctor sed. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Quisque eu aliquam velit. Etiam porta accumsan nulla, a interdum
    lacus volutpat in. Maecenas pharetra auctor sem vitae pretium. Vivamus sagittis porta dolor, ut efficitur eros.
    Quisque rutrum mauris at mauris tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Proin odio nulla, interdum in pharetra pharetra, posuere vel nisl. Curabitur interdum mattis eleifend. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean sapien libero, congue quis
    facilisis ut, faucibus in lorem. In faucibus rutrum pulvinar.

  </p>

</div>