



<main class="container">
  <article class="ohio-login-dialogue row">
    <section class="ohio-login-dialogue-create col-md-7">
      <h1>Title comes here</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
   
    </section>
    <section class="ohio-login-dialogue-existing col-md-5">
      <iframe scrolling="no" width="100%" height="320" src="https://edu-dev-sbd.azurewebsites.net/quickSearch" frameborder="0" allowfullscreen>
        <p>Your browser does not support iframes.</p>
      </iframe>
    
  
    </section>
  </article>
</main>
