


@font-face {font-family: 'Serifa-Med'; src: url('webfonts/32D152_0_0.eot');src: url('webfonts/32D152_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32D152_0_0.woff2') format('woff2'),url('webfonts/32D152_0_0.woff') format('woff'),url('webfonts/32D152_0_0.ttf') format('truetype');}


@font-face {font-family: 'Serifa-Med';src: url('~/webfonts/Serifa-Med/32D152_1_0.eot');src: url('~/webfonts/Serifa-Med/32D152_1_0.eot?#iefix') format('embedded-opentype'),url('~/webfonts/Serifa-Med/32D152_1_0.woff2') format('woff2'),url('~/webfonts/Serifa-Med/32D152_1_0.woff') format('woff'),url('~/webfonts/Serifa-Med/32D152_1_0.ttf') format('truetype');}




body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif ;
    font-size: 14px;
}

h1{
    font-family: 'Serifa-Med';
}

.dn{
    display: none !important
}

.pr{
    position: relative;
}
.nopad{
padding: 0px !important;
}

.nomar{
    margin: 0px !important;
    }

.navbar{
    background: #700017;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
    min-height: 56px !important;
}

.nav li a{
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 16px 20px !important;
    font-weight: 700 !important;
    min-height: 56px;
}
  .nav li a i {
    padding: 4px 20px;
    float: right;
  }

.nav li a:hover,.nav li a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: transparent !important;
}



.custom-header{
    padding: 10px 15px;
}

.main{
    padding-top: 20px;
    padding-bottom: 20px;
}
.main h1{
    font-size: 26px;
   font-family: 'Serifa-Med';
   color: #700017;
   margin:0 0 15px 0

}

.search-results{
    margin: 10px 0;
}
.search-results-head{
    margin:0px 0 10px 0;
}

.search-results-head-left h3{
    color: #700017;
    font-size: 26px;
    font-family: Serifa-Med;
    margin: 0px;
}

.search-results-head-left p{
    color: #000000;
    font-size: 16px;
    font-family: 'Lato', sans-serif ;
   }

.search-results-head-right{
 color: #000000;
 font-size: 16px;
 font-family: 'Lato', sans-serif ;
}

.search-results-head-right button{
    width: 100%;
    background: #700017;
    border: 1px solid #700017;
    color: #fff;
    padding: 15px 0;
    border-radius: 7px;
    margin: 0 0 0 0;
    font-size: 16px;
   }

.search-accordion-each {
  overflow: hidden;
  border-radius: 0 !important;
  margin: 0 0 5px 0 !important;
  border: 0px !important;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  display: block;
  padding: 0px 0px !important;
  border: 1px solid #d8d8d8 !important;
  border-radius: 3px;
}

.accordion-down-arrow{
  color:#700017;
  text-align: center;
}
.accordion-down-arrow span{
    display:block;
    text-align: center;
    cursor: pointer;
}




.search-accordion-each-inner{
background: #f2f2f2;
padding: 10px 10px 2px 10px;
}


.level-three .list-group-item{
    border: 0px !important;
    padding:0px 0px;
}
.search-accordion-each .card-header{
    border: 0px;
    background:#F2F2F2 ;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    }
    .search-accordion-each .card-body{
        padding-left: 0;
        padding-right: 0;
    }

.search-accordion-head{
    padding: 15px;
    background: #D8D8D8;
    color: #700017;
    font-family: Serifa-Med;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.search-accordion-head *{
    font-family: Serifa-Med;
    font-size: 18px;
}
.cg{
    color: #5E8000 !important;
}

.accordion-bubble{
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    display: block;
    text-align: center;
    line-height: 35px;
}


.bubble-green{
    background: #5E8000 !important;
}

.bubble-blue{
    background: #0B5688 !important;
}

.bubble-blue-color{
    color: #0B5688 !important;
}


.search-down-arrow{
    color: #700017;
    font-size: 28px !important;
    font-weight: bold !important;
}


.search-filter{
display: block;
width: 100%;
}
.search-filter-left{
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 290px);
    margin: 0 40px 0 0;
}

.search-filter-left label{
    font-size: 14px;
    font-weight: normal;
    margin: 0 10px 0 0;
}
.filter-each {
    margin: 0 10px 0 0;
}

.filter-each .badge{
    background: #fff;
    border-radius: 5px;
    color: #000000;
}

.search-filter-right{
    width: 250px;
    vertical-align: top;
    display: inline-block;
}
  .search-filter-right button {
    width: 100%;
    background: #337AB7;
    border: 1px solid #337AB7;
    color: #fff;
    padding: 7px 0;
    border-radius: 7px;
    margin: 0 0 0 0;
    font-size: 20px;
  }

.search-filter-right button i{
    margin: 0 0 0 20px;
    font-size: 24px;
}

.button-row {
    margin: 40px 0px;
}

 .btn{
    font-family: 'Lato', sans-serif  !important;
    font-size: 16px  !important;
 }

.btn-search{
    background: #337AB7 !important;

    }

.btn-cancel{
color: #fff !important;
border-color: #fff !important;
}

.btn-cancel-black{
    color: #000 !important;
    border-color: #000 !important;
    }


.home{
    font-family: 'Lato', sans-serif;
    font-size: 16px ;
}




.home p{
    margin-bottom: 15px;

}

.searchmain{
    background: #f2f2f2;
    padding: 15px;
}

.search-btn{
    margin: 15px 0 0 0
}

.report-btn{
    margin: 15px 0;
}


.accordion-btn{
    margin: 15px 0;
}

.reports-each *{
    font-family: 'Serifa-Med';
  }

  .search-accordion .list-group{
      margin-bottom: 0 !important;
  }

  .search-right-arrow{
    color: #707070;
    font-size: 16px !important;
    text-align: center;
}

.accordion-active{
    border:  1px solid #ddd !important;
    overflow: hidden;
}

.level-two-inner{
    border-radius: 0px !important;
    border:1px solid #ddd !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px;
    display:block;
    position: relative;
}
.accordion-checbox{
    margin: 0;
    display: inline-block;
    width: 25px;
}

.level-four-title{
    padding: 0 0 0 0px;
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 100px);
}
.level-three-title{
    padding: 0 0 0 0px;
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 100px);
}
.level-two-title{
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 25px);
}

.level-one-title{
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 25px);
}

.checkbox-indeterminate input[type="checkbox"]:checked + label::after{
    content:"";
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px;
    color:#700017;
}

.radio, .checkbox {
    margin: 0px !important;
}
.dropdown-menu>li>a{
    color: #333 !important;
}

.search-seemore{
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
    position: relative;
}
.search-seemore h3{
    text-align: center;
    font-size:20px;
    font-family: 'Serifa-Med';
    margin: 0px;
}
.search-seemore a{
    position: absolute;
    color: #fff;
    font-size: 40px;
    background: #700017;
    left:calc(50% - 30px);
    width: 50px;
    text-align: center;
    border-radius: 0 0 50px 50px;
    bottom: -60px;
    display: block;
    z-index: 9;
}
.search-seemore a:hover, .search-seemore a:focus{
    color: #fff;
}

.img-overlay h2{
    font-family: 'Serifa-Med';
}


.multiselect-dropdown .dropdown-btn .selected-item{
        white-space: nowrap;
        overflow: hidden;
        max-width: calc(100% - 60px);
        text-overflow: ellipsis;
    }
    .dynamic-academics h3{
        font-size: 18px;
        font-family: 'Serifa-Med';
        color: #700017;
    }
.search-accordion {
  clear:both;
}

.search-right-arrow {
    margin-top: 6px;
}
.search-right-arrow i{
    font-size: 22px;
}
.accordion-down-arrow{
    margin-top: 6px;
}
.accordion-down-arrow i{
    font-size: 24px;
}

.customsearch {
  border: 1px solid #A1A1A1;
  border-radius: 4px;
  overflow: hidden;
}
.customsearch input, .customsearch .input-group-addon{
    border: 0px solid #a1a1a1 !important;
}

.dropdown-menu > li > a{
    min-height: inherit !important;
    padding: 5px 15px !important;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: inherit !important;
    color: #700017 !important;
    border-left:solid 6px #fff;
}
.dropdown-menu > li > a:hover{
    border-left:solid 6px #eb1316;
}
