<div class="quick-search">
    <h2>{{ 'SearchFields.QuickSearch' | translate }}</h2>
    <div class="quick-search-layer">
        <!-- Search Form Begin -->
        <form>
            <div class="row">
                <div class="form-group col-md-12 col-xs-12">
                    <label for="exampleFormControlInput1">{{ 'SearchFields.Keywords' | translate }}</label>
                    <input type="search" class="form-control"  name="enterKeyword"
                        id="exampleFormControlInput1" placeholder="Keywords . . ."  [(ngModel)]="selectedKeyword">
                </div>
            </div>
            <!-- Dropdown row -->
            <div class="row">
                <div class="form-group col-md-6 col-xs-6">
                    <label>{{ 'SearchFields.CareerField' | translate }}</label>
                    <ng-multiselect-dropdown [ngClass]="" [data]="careers" name="careers" [(ngModel)]="selectedCareer"
                        [settings]="careerFieldDropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
                <div class="form-group col-md-6 col-xs-6">
                    <label>{{ 'SearchFields.AcademicSubjects' | translate }}</label>
                    <ng-multiselect-dropdown [ngClass]="" name="academicSubject" [data]="academicSubjects"
                        [(ngModel)]="selectedAcadamicSubjects" [settings]="subjectDropdownSettings">
                    </ng-multiselect-dropdown>
                </div>
                <!-- End Dropdown Row -->
            </div>
            <!-- Button Row -->
            <div class="row search-btn">
                <div class="col-md-6 col-xs-6"> <button type="button" (click)="clearQuickSearch()" class="btn btn-outline-secondary">Clear</button>
                </div>
                <div class="col-md-6 col-xs-6">
                    <button type="button" class="btn btn-info" (click)="sendSearch()" [disabled]="selectedCareer.length == 0 || selectedAcadamicSubjects.length == 0">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
