.quick-search{
    float: left;
    width: 600px;
    padding: 20px;
}
.quick-search h2{
    color: white;
    font-family: 'Serifa-Reg';
}
.quick-search-layer label {
    color: white;
    margin: 10px 0 10px 15px;
}
.quick-search {
    background-color: #700017;
    margin: 0;
}
.quick-search-layer {
    background-color: #700017;   
}
.button-row {    
    margin-top: 20px ;
    margin-bottom: 20px ;
}

.button-row .btn{
    display: block;
    width: 100%;
    height: 45px;
}
.button-row .btn-info{
background:#337AB7;

}


.sub-header-1 {
    margin: 50px 15% 50px 15%;
    text-align: center;
}
.sub-header-1 h4 {
    color: #700017;
}