<div class="quick-search">
    <h2>Quick Search</h2>
    <div class="quick-search-layer">
        <!-- Search Form Begin -->
        <form>
            <div class="row">
                <div class="form-group col-md-12 col-xs-12">
                    <label for="exampleFormControlInput1">Keywords</label>
                    <input type="search" class="form-control" [(ngModel)]="keyword" name="enterKeyword"
                        id="exampleFormControlInput1" placeholder="Keywords . . .">
                </div>
            </div>
            <!-- Dropdown row -->
            <div class="row">
                <div class="form-group col-md-6 col-xs-6">
                  <label>{{ 'SearchFields.CareerField' | translate }}</label>
                  <ng-multiselect-dropdown [ngClass]="" [data]="careers" [(ngModel)]="selectedCareer"
                      [settings]="dropdownSettings" >
                  </ng-multiselect-dropdown>
                </div>
                <div class="form-group col-md-6 col-xs-6">
                  <label>{{ 'SearchFields.AcademicSubjects' | translate }}</label>
                  <ng-multiselect-dropdown [ngClass]="" [data]="academicSubjects"
                      [(ngModel)]="selectedAcadamicSubjects" [settings]="dropdownSettings"
                     >
                  </ng-multiselect-dropdown>
                </div>
                <!-- End Dropdown Row -->
            </div>
            <!-- Button Row -->
            <div class="row button-row">
                <div class="col-md-6 col-xs-6"> <button type="button" class="btn btn-outline-secondary">Cancel</button>
                </div>
                <div class="col-md-6 col-xs-6">
                    <button type="button" class="btn btn-info" (click)="sendSearch()">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
