<div class="quick-search col-md-6">
    <h2 class="quick-search-title">Quick Search</h2>
    <div class="quick-search-layer">


        <!-- Search Form Begin -->
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Keywords</label>
                <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Keywords . . .">
            </div>

            <!-- Dropdown row -->
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">Career Field</label>
                    <select class="form-control" id="careerDropDown" (change)="storeIndex()">
                        <option *ngFor="let career of data; let i = index" value={{i}}>
                            {{career.CareerField}}
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">Academic Subjects</label>
                    <select class="form-control" id="subjectDropDown" (change)="storeSubject()">
                        <option *ngFor="let mono of tempSubject; let j = index" value={{j}}>
                            {{tempSubject[j]}}
                        </option>
                    </select>
                </div>
                <!-- End Dropdown Row -->
            </div>

            <!-- Button Row -->
            <div class="row button-row">
                <button type="button" class="btn btn-outline-secondary col-md-5">Cancel</button>
                <button type="button" class="btn btn-info offset-md-1 col-md-5" [routerLink]="['../results']"
                    (click)="sendSearch()">Search</button>
            </div>

        </form>
    </div>
</div>
