div,span,i {
    color:white;
}

.utilityActive {
    padding-top:10px;
    background-color:#540011;
    /* margin-top:-15px; */
    width:53px;
    height:1000px;
    text-align: center;
}
.utilityActive div
{
   margin-bottom:7px;
}
.utilitynav div
{
    padding:10px;
}

.utilitynav a {
    color:white;
}



