div,span,i {
    color:white;
}
.utilityActive {
    padding-top:10px;
    background-color:#540011 !important;
    /* margin-top:-15px; */
    width:53px !important;
    text-align: center;
    z-index: 5;
    height: calc(100% - 130px); /* calculate height of everything that's not the header */
    width: 160px;
    position: absolute;
    top: 130px; /*  This should change so that there's no gap/overlap with the top navbar  */
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}
.utilityActive div
{
    color: white;
    margin-bottom:7px;
}
.utilitynav div
{
    padding:10px;
}
.utilitynav a {
    color:white;
}
#hoverhand:hover{
    cursor: pointer;
}