<header (onPageSelect)="onPageSelect($event)"></header>

<advanced-search (onPageSelect)="onPageSelect($event)"  *ngIf="showAdvancedSearch" ></advanced-search>

<filter-summary (onPageSelect)="onPageSelect($event)" *ngIf="showSearchResults"  [FilterSummary]="FilterSummary"></filter-summary>

<custom-accordion (onPageSelect)="onPageSelect($event)" *ngIf="showSearchResults" [options]="List" [loopCount]="loopNumber"></custom-accordion>

<report *ngIf="showReport" ></report>

<router-outlet></router-outlet>
