<header (onPageSelect)="onPageSelect($event)"></header>

<app-home (onPageSelect)="onPageSelect($event)" *ngIf="showHomePage"></app-home>

<advanced-search (onPageSelect)="onPageSelect($event)" *ngIf="showAdvancedSearch"></advanced-search>

<app-alignment-search (onPageSelect)="onPageSelect($event)" *ngIf="showAlignmentSearch"></app-alignment-search>

<app-course-search (onPageSelect)="onPageSelect($event)" *ngIf="showCourseSearch"></app-course-search>

<app-export (onPageSelect)="onPageSelect($event)" *ngIf="showExport"></app-export>

<app-quick-search></app-quick-search>

<!-- <iframe id="iframesummons" [src]="iFrameSummonsSrc" style="width: 50%; height:500px" frameborder="0" allowfullscreen>
  <p>Your browser does not support iframes.</p>
</iframe> -->

<filter-summary (onPageSelect)="onPageSelect($event)" *ngIf="showSearchResults"  [FilterSummary]="FilterSummary"></filter-summary>

<custom-accordion (onPageSelect)="onPageSelect($event)" *ngIf="showSearchResults" [options]="List" [loopCount]="loopNumber"></custom-accordion>

<div class="row button-row button-space" *ngIf="showSearchResults" >
    <div class="col-md-12 nopad">
        <button type="button" class="btn btn-info btn-search  float-right col-md-2"
        (click)="onPageSelect('Report')">Generate</button>
    <button type="button" class="btn btn-outline-secondary btn-cancel-black col-md-2 float-right button-space" (click)="onPageSelect('Search')">Cancel</button>

    </div>
  </div>

<report (onPageSelect)="onPageSelect($event)" *ngIf="showReport"></report>

<router-outlet></router-outlet>
