.ohio-table .ohio-checkbox input[type=checkbox] {
    margin-left:5px;
  }
  .ohio-button:disabled, 
  .ohio-login-dialogue-create-btn:disabled, 
  .ohio-login-dialogue-existing-btn:disabled, 
  .ohio-upload-multiple-label:disabled, 
  .ohio-vector-map-zoom-btn:disabled 
  {
    background-color: #A3A3A3;
    color: #EDEDED;
    cursor: not-allowed;
}
