.filter-header h4 {
    color: #700017;
    margin: 30px 0 30px 0;
}
hr {
    border: 1px solid white;
}
.filter-form {
    color: white;
    background-color: #700017;
    padding: 20px 15px 0px 15px;
    margin: 0;
}
.button-space {
    margin-right: 10px;
}
label {
    white-space: pre;
}
.float-right {
    float: right;
}
.search-filter-right {
   margin-top: 30px;
}
.label-space {
    margin: 7px;
}
.badge {
    padding: 6px;
    margin: 4px;
}
.filter-divider {
    font-weight: 800;
    font-size: 20pt;
    padding: 0 10px 0 10px;
}
.badge.badge-light {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
