<div class="col-md-12">
  <h1>{{ 'FilterResults.SearchCriteria' | translate }}</h1>
  <div class="row">
    <!-- filter Form Begin -->
    <section class="filter-form col-md-12">
      <div class="search-filter">
        <div class="search-filter-left">
          <div class="filter">
            <span class="filter-each" *ngFor="let item of FilterSummaryData; let i = index">
              <span *ngIf="item.fieldType == 1">
                <span *ngIf="i != item.length && i != 0"> | </span>
                <label>{{item.fieldName}}: </label>
                <span class="badge badge-light">{{item.fieldValue}}</span>
              </span>
              <div class="filter-each" *ngIf="item.fieldType == 2" >
                <hr>
                <label>{{item.fieldAcadamicName}}: </label>
                <span class="badge badge-light">{{item.fieldAcadamicValue}}</span> |
                <label>{{item.fieldGradeName}}: </label>
                <span class="badge badge-light">{{item.fieldGradeValue}}</span> |
                <label>{{item.fieldClusterName}}: </label>
                <span class="badge badge-light">{{item.fieldClusterValue}}</span> |
                <label>{{item.fieldStandardNumberName}}: </label>
                <span class="badge badge-light">{{item.fieldStandardNumberValue}}</span>
              </div>
            </span>
          </div>
        </div>
        <div class="search-filter-right">
          <button (click)="goBackToSearch()">{{ 'FilterResults.UpdateSearch' | translate }}
            <i class="fa fa-angle-double-down"></i></button>
        </div>
      </div>
      <div class="search-seemore">
        <!-- <h3>{{panelExpanded ? 'Click to see less' : 'Click to see more'}}</h3> -->
        <!-- <a href="#" (click)="panelExpanded = !panelExpanded">
          <i [ngClass]="panelExpanded ? 'fa fa-angle-double-up' : 'fa fa-angle-double-down'"></i>
        </a> -->
      </div>
    </section>
  </div>
</div>
