<div>
    <span class="title_green_med" style="font-size:13px;">{{changedLabel}} </span>
    <a href="javascript:void(0)" (click)="toggleDetails()" style="font-size:13px;">{{commenter.name}}</a> <span style="font-size:13px;">
        on</span><span style="font-size:13px;"><b> {{changedDate}}</b></span>
    <div *ngIf="showDetails">
        <div class="person-details-container clearfix">
            <div class="person-details-traingle clearfix">
                <i class="fa fa-caret-up"></i>
            </div>
            <a appFocus href="javascript:void(0)" (click)="toggleDetails()" class="close-button">
                <i class="fa fa-times"></i>
            </a>
            <div>
                <div class="col-md-6">
                    <ul class="comments-person-info">
                        <ng-container *ngFor="let role of commenter.roles; index as idx">
                            <ng-container *ngIf="idx==1">
                                <li>
                                    <span class="title_green_med">
                                        {{content.alsoLabel}}
                                    </span>
                                </li>
                            </ng-container>
                            <li>
                                <span class="title_green_med">
                                    <ng-container *ngIf="idx==0">
                                        {{content.organizationLabel}}
                                    </ng-container>
                                    <ng-container *ngIf="idx>0">
                                        <i class="fa fa-angle-double-right"></i>
                                    </ng-container>
                                </span>
                                <span>
                                    <b title="{{normalizeName(role.organizationName)}}">{{normalizeName(role.organizationName)}}</b>
                                </span>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="comments-person-info">
                        <ng-container *ngFor="let role of commenter.roles; index as idx">
                            <ng-container *ngIf="idx==1">
                                <li>
                                    <span class="title_green_med">
                                        {{content.alsoLabel}}
                                    </span>
                                </li>
                            </ng-container>
                            <li>
                                <span class="title_green_med">
                                    <ng-container *ngIf="idx==0">
                                        {{content.roleLabel}}
                                    </ng-container>
                                    <ng-container *ngIf="idx>0">
                                        <i class="fa fa-angle-double-right"></i>
                                    </ng-container>
                                </span>
                                <span>
                                    <b class="truncate" title="{{normalizeName(role.name)}}">{{normalizeName(role.name)}}</b>
                                </span>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
