ul.comments-person-info {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0px;
    font-size: 16px;
    margin-top: 10px;
}

ul.comments-person-info li {
    margin-right: 20px;
}

ul.comments-person-info li span.title_green_med {
    margin-right: 5px;
} 

.truncate {
    display:inline-block;
    width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}

a.close-button {
    color: #5e8000;
    font-size: 20px;
    position: absolute;
    background: none;
    right: 14px;
    top: 10px;
    z-index: 10;
}
