.boxes {
    border: 1px solid #000;
    margin: 0px auto;
    float: left;
}

.shelf-container {
    background-color: #d8d8d8;
}

.section-header-text {
    margin-bottom: 10px;
}

.section-header-text.status-title
{
    display:inline;
}

.section-header-text.mini-comments {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 16px;
}

h1,
h2,
h3,
.ohio-page-error-message-message {
  line-height: 1.1; 
}
  h1.header-small, h1.ohio-page-error-message-message,
  h2.header-small,
  h2.ohio-page-error-message-message,
  h3.header-small,
  .ohio-page-error-message-message {
    font-family: Serifa-Reg; 
}

h1,
h2,
h3,
.ohio-page-error-message-message {
  font-family: Serifa-Med;
  font-weight: normal;
  font-style: normal; }

h3, .ohio-page-error-message-message {
    font-size: 2rem;
    margin-top: 40px; 
}
.row ~ h3, .row ~ .ohio-page-error-message-message {
    margin-top: calc(40px - 23px); 
}

p,
h2,
h3,
.ohio-page-error-message-message {
  orphans: 3;
  widows: 3; }

  h1, h2, h3, .ohio-page-error-message-message, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit; }

    h1 small,
    h1 .small, h2 small,
    h2 .small, h3 small, .ohio-page-error-message-message small,
    h3 .small, .ohio-page-error-message-message .small, h4 small,
    h4 .small, h5 small,
    h5 .small, h6 small,
    h6 .small,
    .h1 small,
    .h1 .small, .h2 small,
    .h2 .small, .h3 small,
    .h3 .small, .h4 small,
    .h4 .small, .h5 small,
    .h5 .small, .h6 small,
    .h6 .small {
      font-weight: normal;
      line-height: 1;
      color: #777777; }
      h1, .h1,
      h2, .h2,
      h3,
      .ohio-page-error-message-message, .h3 {
        margin-top: 20px;
        margin-bottom: 10px; }

        h1 small,
        h1 .small, .h1 small,
        .h1 .small,
        h2 small,
        h2 .small, .h2 small,
        .h2 .small,
        h3 small, .ohio-page-error-message-message small,
        h3 .small, .ohio-page-error-message-message .small, .h3 small,
        .h3 .small {
          font-size: 65%; }

          h3, .ohio-page-error-message-message, .h3 {
            font-size: 24px; }

            
h1, h2, h3, .ohio-page-error-message-message, h4, h5, h6 {
    color: #700017;
    margin-bottom: 0; }
    .theme-green h1, .theme-green h2, .theme-green h3, .theme-green .ohio-page-error-message-message, .theme-green h4, .theme-green h5, .theme-green h6 {
      color: #5e8000; }
    .theme-blue h1, .theme-blue h2, .theme-blue h3, .theme-blue .ohio-page-error-message-message, .theme-blue h4, .theme-blue h5, .theme-blue h6 {
      color: #3D7AA9; }
    h1 *, h2 *, h3 *, .ohio-page-error-message-message *, h4 *, h5 *, h6 * {
      font-family: "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif; }

      h3, .ohio-page-error-message-message {
        font-size: 2rem;
        margin-top: 40px; }

        .margin-separator-top{
            margin-top: 15px;
        }

        
hr.form {
    border-top: 1px solid #a1a1a1;
}
.comments-scroll 
{
  height: 900px; 
  overflow: auto;
}

