<div style="padding-left: 10px;padding-right: 10px;">
    <div class="margin-seperator-top">
        <h3 class="section-header-text status-title">
            <b>{{content.title}}</b>
        </h3>
        <hr style="margin: 7px 0;" class="form shelf">
    </div>
    <div *ngIf="!showNew">
        <button [appFocus]="true" type="button" class="ohio-button x-small" style="margin-bottom: 10px" (keyup.enter)="addSubject()"
            (click)="addSubjectClick($event)">

            <i class="fa fa-plus"></i>
            {{content.addNewSubjectBtn}}
        </button>
    </div>
    <div class="comments-scroll">
        <div class="search-container">
            <app-new-subject (save)="saveSubject($event)" (cancel)="cancel()" *ngIf="showNew"></app-new-subject>
        </div>
        <div>
            <app-subject *ngFor="let subject of subjects" [subject]="subject" (reply)="addComment($event,subject)"
                (editComment)="editComment($event,subject)"></app-subject>
        </div>
    </div>
</div>
