<article class="ohio-page-error-message">
        <div class="ohio-page-error-message-wrapper">
          <h1>{{'PageNotFound.ServerError' | translate}}</h1>
          <p class="ohio-page-error-message-message">{{'PageNotFound.SomethingWentWrong' | translate}}</p>
          <p class="ohio-page-error-message-desc">We track these errors automatically, but if the problem persists feel free to <a href="#">contact us.</a></p>
          <a href="#" class="ohio-button">{{'PageNotFound.ReturnToHomepage' | translate}}</a>
          <div class="ohio-page-error-message-logo">
            <img class="ohio-page-error-message-logo-img" src="../../assets/images/ohiogov_RGB.svg" alt="State of Ohio logo">
          </div>
        </div>
      </article>