.reports {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Serifa-Reg";
}

.reports-head h1 {
  color: #700017;
  font-size: 30px;
}

.reports-head {
  display: block;
}

.reports-head-left {
  display: inline-block;
  width: 50%;
  max-width: 50%;
}

.reports-head-right {
  display: inline-block;
  width: 50%;
}

.reports-head-right-each {
  float: left;
  margin: 0 0 0 20px;
  color: #700017;
  font-family: "Lato", sans-serif;
}

.reports-each {
  background: #f2f2f2;
  margin: 0 0 20px 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.reports-each h2 {
  color: #700017;
  font-size: 26px;
  margin-bottom: 20px;
}

.reports-each-top {
  margin: 0 0 20px 0;
}

.reports-each-top table {
  width: 100%;
}

.reports-content {
  margin: 0 0 5px 0;
}

.reports-content-each {
  margin: 0 0 0px 0;
  display: block;
}

.reports-content-each-left {
  margin: 0 5px 5px 0;
  width: 250px;
  display: inline-block;
  vertical-align: top;
  background: #d8d8d8;
  border: #d8d8d8 solid 1px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}

.reports-blue {
  background: #73a5cc;
  border: #73a5cc solid 1px;
}

.reports-green {
  background: #5e8000;
  border: #5e8000 solid 1px;
  color: #fff;
}

.reports-content-each-right {
  margin: 0 5px 5px 0;
  width: calc(100% - 260px);
  display: inline-block;
  vertical-align: top;
  border: #d8d8d8 solid 1px;
  padding: 5px;
  font-size: 14px;
  font-weight: 600;
}

.reports-each-bottom h3 {
  color: #700017;
  font-size: 20px;
  margin: 0 0 10px 40px;
}

.reports-standards-each {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  display: block;
  width: 100%;
}

.reports-standards-each-left {
  width: 30px;
  margin: 0 10px 0 0;
  display: inline-block;
}

.reports-standards-each-right {
  width: calc(100% - 50px);
  display: inline-block;
}

.legend-application {
  background: #ed6102;
  border-radius: 4px;
  padding: 0;
  color: #fff;
  width: 30px;
  display: inline-block;
  text-align: center;
  font-family: "Serifa-Reg";
}

.legend-reinforcement {
  background: #347aa9;
  border-radius: 4px;
  padding: 0;
  color: #fff;
  width: 30px;
  display: inline-block;
  text-align: center;
  font-family: "Serifa-Reg";
}

.legend-enrichment {
  background: #b5dc10;
  border-radius: 4px;
  padding: 0;
  color: #fff;
  width: 30px;
  display: inline-block;
  text-align: center;
  font-family: "Serifa-Reg";
}

.reports-head h1 {
  color: #700017;
  font-size: 30px;
  margin: 0;
  font-family: "Serifa-Reg";
}

.reports-head {
  display: block;
  margin: 15px 0;
}

.reports-head-left {
  display: inline-block;
  width: calc(100% - 440px);
  max-width: calc(100% - 440px);
}

.reports-head-right {
  display: inline-block;
  width: 440px;
}

.reports-head-right-each {
  float: left;
  margin: 0 0 0 20px;
  color: #700017;
  font-family: "Lato", sans-serif;
}

.course-search-results,
.course {
  display: block;
  overflow: hidden;
  width: 100%;
  float: left;
}
.course-search-results {
  padding: 30px;
}
.course {
  border: 1px solid #cbcbcb;
  margin-bottom: 15px;
  background: #eee;
}
.standard {
  width: 50%;
  padding: 15px;
  float: left;
}
.competency {
  width: calc(100% - 50%);
  border-left: 1px solid #cbcbcb;
  padding: 0;
  float: left;
}
.standard h4 {
  font-weight: bold;
}
.competency ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.competency ul li {
  font-size: 16px;
  border-bottom: 1px solid #cbcbcb;
  padding: 9px;
}
.competency ul li:last-child {
  border-bottom: 0;
}

/*.no-alignment {
  border: 1px solid #ddd;
  width: 40%;
  float: right;
  margin: 15px 0px;
  padding: 15px;
  background: #eee;
}*/

.course-wrap {
  display: block;
  overflow: hidden;
  padding: 15px;
  border: 1px solid #ddd;
  background: #f5f5f5;
  margin-bottom: 20px;
}
.course-wrap h2 {
  color: #700017;
  margin: 0 0 15px 0;
  font-size: 24px;
}
.c2s .competency {
  width: calc(100% - 50%);
}
.c2s .standard {
  width: 50%;
}
.course-wrap .item {
  display: flex;
  overflow: hidden;
}

.course-wrap .item .title {
  width: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  background: #dbdbdb;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 18px;
  word-spacing: 1px;
}
.course-wrap .item .description {
  width: calc(50% - 5px);
  float: left;
  background: #f2f2f2;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ddd;
}
.description.bg-blue {
  background: #71a4cc !important;
}
.sortedTypeHeader {
  font-size: 26px;
  font-family: "Serifa-Med";
  color: #700017;
  margin: 0 0 15px 0;
}
.course-wrap .item .description ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.course-wrap .item .description ul li {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
}
.no-alignment {
  display: block;
  overflow: hidden;
  padding: 20px 0;
}
.no-alignment ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-alignment ul li {
  font-size: 14px;
  margin-bottom: 15px;
}

.no-alignment ul li .list {
  width: calc(100% - 40px);
  display: inline-block;
}

.no-alignment h4 {
  font-weight: bold;
  color: #700017;
  margin: 10px 0 20px 40px;
}
.compared-title {
  font-size: 11pt;
}
.prefix {
  width: 30px;
  text-align: center;
  padding: 3px 0;
  background: #f56400;
  display: inline-block;
  margin-right: 10px;
  float: left;
  border-radius: 5px;
  color: #fff;
}
