<div class="course-search-results">
  <h1>Results</h1>
  <div class="course-wrap" *ngFor="let result of reportListhResultData.Competencies">
    <div class="col-md-6">
      <h2>
        <span>CTE Courses</span>
        <hr>
        <span>{{result.CteCourseName}}</span>
      </h2>

    </div>

    <div class="col-md-6">
      <h2>
        <span>Academic Course</span>
        <hr>
        <span>{{result.AcademicCourseName}}</span>
      </h2>
    </div>
    <div class="course" *ngFor="let competency of result.Competencies">
      <div class="standard">
        <h4>{{competency.CompetencyDesc}} </h4>
      </div>
      <div class="competency">
        <ul>
          <li *ngFor="let std of competency.Standards"> {{std.StandardDesc}}</li>
        </ul>
      </div>
    </div>
    <div class="no-alignment">
      <h4>No Alignment</h4>
      <ul>
        <li> 1) Compentency List </li>
        <li> 8) Compentency List </li>
        <li> 4) Compentency List </li>
      </ul>
    </div>
  </div>
  <div class="course-wrap" *ngFor="let result of reportListhResultData.Standards">
    <div class="col-md-6">
      <h2>
        <span>Academic Course</span>
        <hr>
        <span>{{result.AcademicCourseName}}</span>
      </h2>
    </div>
    <div class="col-md-6">
      <h2>
        <span>CTE Courses</span>
        <hr>
        <span>{{result.CteCourseName}}</span>
      </h2>
    </div>
    <div class="course" *ngFor="let standard of result.Standards">
      <div class="standard">
        <h4>{{standard.StandardDesc}} </h4>
      </div>
      <div class="competency">
        <ul>
          <li *ngFor="let cpt of standard.Competencies"> {{cpt.Competency}}</li>
        </ul>
      </div>
    </div>
    <div class="no-alignment">
      <h4>No Alignment</h4>
      <ul>
        <li> 1) Compentency List </li>
        <li> 8) Compentency List </li>
        <li> 4) Compentency List </li>
      </ul>
    </div>
  </div>
</div>
