.search-header h4 {
    color: #700017;
    margin: 30px 0 30px 0;
}
hr {
    border: 1px solid white;
    margin: 30px 0 20px 0;
}
.search-form {
    color: white;
    background-color: #700017;
    padding: 20px 15px 25px 15px;
    margin: 0;
}
.btn {
    height: 60px;
}
.button-space {
    margin-right: 20px;
}
.button-row {
    margin: 40px 20px 40px 20px;
}
.form-control {
    height: 60px;
}
.white-background {
    background-color: white;
}
.dynamic-academics {
    margin: 40px 20px 10px 20px;
}
h3 {
    margin: 15px 3px 0px 3px;
}