<div class="col-md-12 main">
  <h1>{{ 'SearchFields.Search' | translate }} </h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">{{ 'SearchFields.Alignment' | translate }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">{{ 'SearchFields.Courses' | translate }}</a>
    </li>
  </ul>


  <div id="myTabContent" class="row tab-content">
    <div id="home" class="search-form col-md-12 tab-pane fade show active">
      <app-alignment-search (click)="this.goToPage('SearchResults');"></app-alignment-search>
    </div>


    <!-- Courses Tab -->
    <div id="profile" class="search-form col-md-12 tab-pane fade">
      <app-course-search (click)="this.goToPage('SearchResults');"></app-course-search>

    </div>

  </div>
</div>
