<div class="col-md-12 main">
    <h1>Search  </h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Alignment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Courses</a>
    </li>
  </ul>


  <div id="myTabContent" class="row tab-content">


    <!-- Alignment Tab -->
    <div id="home" class="search-form col-md-12 tab-pane fade show active">
      <div class="row">
        <!-- Search Form Begin -->
        <div class="form-group col-md-6">
          <label for="keywordInput">Keywords</label>
          <input type="search" class="form-control" id="keywordInput" placeholder="Keywords . . ."  [(ngModel)]="selectedKeyword">
          <i id="filtersubmit" class="fa fa-search fa-2x"></i>
        </div>
      </div>

      <hr>

      <!-- Dropdown row -->
      <div class="row">
        <div class="form-group col-md-6">
          <label>Career Field</label>
          <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="careers" [(ngModel)]="selectedCareer"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
        <div class="form-group col-md-6">
          <label>Acadamic Subjects</label>
          <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="academicSubjects"
            [(ngModel)]="selectedAcadamicSubjects" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>


        <div class="col-md-6 no-gutters">
          <div class="row">
            <div class="form-group col-md-6">
              <label>Standards</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="stadards" [(ngModel)]="selectedStandards"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="form-group col-md-6">
              <label>Outcome</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="outcomes" [(ngModel)]="selectedOutcome"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <!-- End Dropdown Row -->
          </div>




          <div class="form-group col-md-12">
            <label for="competencyInput">Competency Number</label>
            <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="competencyNumbers" [(ngModel)]="selectedCompetencyNumbers" [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>



        <!-- Dynamic dropdowns of Academic subjects -->
        <div class="col-md-6 col-md-push-6">
          <div class="row dynamic-academics" *ngFor="let policy of selectedAcadamicSubjects;let i = index;">
            <h3>{{policy.item_text}}</h3>

            <div class="row">
            <div class="col-md-4">
              <label>Grade</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="grades" [(ngModel)]="selectedGrades[i]"
                [settings]="dropdownSettings" (onSelect)="onGradeSelect(selectedGrades[i],policy)"
                (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-4">
              <label>Cluster</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="clusters" [(ngModel)]="selectedClusters[i]"
                [settings]="dropdownSettings" (onSelect)="onClusterSelect(selectedClusters[i],policy)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-4">
              <label>Standard Number</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="standardNumbers"
                [(ngModel)]="selectedStandardNumbers[i]" [settings]="dropdownSettings"
                (onSelect)="onStandardNumberSelect(selectedStandardNumbers[i],policy)"
                (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div> </div>
            <!-- End of Dynamic dropdowns of Academic subjects -->
          </div>
          <!-- End of CareerField and Academic row -->
        </div>
        <!-- END OF PUSH/PULLED COLUMNS -->
      </div>


      <!-- Button Row -->
      <div class="row button-row button-space">
        <div class="col-md-12 nopad">
            <button type="button" class="btn btn-info btn-search  float-right col-md-2" [routerLink]="['/results']"
            (click)="search()">Search</button>
        <button type="button" class="btn btn-outline-secondary btn-cancel col-md-2 float-right button-space">Cancel</button>

        </div>
      </div>

    </div>


    <!-- Courses Tab -->
    <div id="profile" class="search-form col-md-12 tab-pane fade">
      <div class="row">
        <!-- Search Form Begin -->
        <div class="form-group col-md-6">
          <label for="keywordInput">Keywords</label>
          <input type="search" class="form-control" id="keywordInput"  placeholder="Keywords . . .">
          <i id="filtersubmit" class="fa fa-search fa-2x"></i>
        </div>
      </div>

      <hr>

      <!-- Dropdown row -->
      <div class="row">
        <div class="form-group col-md-6">
          <label>Career Field </label>
          <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="careers" [(ngModel)]="selectedCareer"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>
        <div class="form-group col-md-6">
          <label>Acadamic Subjects</label>
          <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="academicSubjects" [(ngModel)]="selectedAcadamicSubjects"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
        </div>


        <div class="col-md-6 no-gutters">
          <div class="row">
            <div class="form-group col-md-6">
              <label>Strands</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="stadards" [(ngModel)]="selectedStandards"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="form-group col-md-6">
              <label>Outcome</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="outcomes" [(ngModel)]="selectedOutcome"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <!-- End Dropdown Row -->
          </div>


          <div class="form-group col-md-12">
            <label for="competencyInput">Competency Number</label>
            <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="competencyNumbers" [(ngModel)]="selectedCompetencyNumbers"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
          </ng-multiselect-dropdown>
          </div>
        </div>



        <!-- Dynamic dropdowns of Academic subjects -->
        <div class="col-md-6 col-md-push-6">
          <div class="row dynamic-academics" *ngFor="let policy of selectedAcadamicSubjects;let i = index;">
            <h3>{{policy.item_text}}</h3>
<div class="row">
      <div class="col-md-4">
              <label>Grade</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="grades" [(ngModel)]="selectedGrades[i]"
                [settings]="dropdownSettings" (onSelect)="onClusterSelect(selectedGrades[i],policy)"
                (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-4">
              <label>Cluster</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="clusters" [(ngModel)]="selectedClusters[i]"
                [settings]="dropdownSettings" (onSelect)="onGradeSelect(selectedClusters[i],policy)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
            <div class="col-md-4">
              <label>Standard Number</label>
              <ng-multiselect-dropdown [ngClass]="multiSelect" [data]="standardNumbers"
                [(ngModel)]="selectedStandardNumbers[i]" [settings]="dropdownSettings"
                (onSelect)="onStandardNumberSelect(selectedStandardNumbers[i],policy)" (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
            </div>
          </div>
            <!-- End of Dynamic dropdowns of Academic subjects -->
          </div>
          <!-- End of CareerField and Academic row -->
        </div>
        <!-- END OF PUSH/PULLED COLUMNS -->
      </div>


      <!-- Button Row -->
      <div class="row button-row button-space">
          <div class="col-md-12 nopad">
              <button type="button" class="btn btn-info btn-search  float-right col-md-2" [routerLink]="['/results']"
              (click)="search()">Search</button>
          <button type="button" class="btn btn-outline-secondary btn-cancel col-md-2 float-right button-space">Cancel</button>

          </div>
        </div>

    </div>
  </div>

  <!-- End of Container -->
</div>
