
<div style="padding-left: 10px;padding-right: 10px; width: 95%;">
  <div class="margin-seperator-top">
    <h3 class="section-header-text status-title">
      <b>Flags</b>
    </h3>
    <hr style="margin: 7px 0;" class="form shelf">
  </div>
  <div>
    <div class="sub-title-content">
      Read Only Flags
    </div>
  </div>
  <div>
    <div class="horizontal-layout read-only-list">
      <span *ngFor="let flag of flags.readOnly" class="roFlag">{{flag.flagDescription}}</span>
    </div>
  </div>
  <div class="margin-seperator-top">
    <div class="sub-title-content">
      <b>
        Apply or Delete Flags
      </b>
    </div>
  </div>
  <div>
    <ng-select class="flags" [items]="flags.editable" bindLabel="flagDescription" bindValue="flagKey" [multiple]="true" [(ngModel)]="selectedFlags"
      (add)="addFlag($event)" (remove)="removeFlag($event)">
    </ng-select>
  </div>
</div>