<header (onPageSelect)="onPageSelect($event)"></header>

<app-home (onPageSelect)="onPageSelect($event)" *ngIf="showHomePage"></app-home>

<advanced-search (onPageSelect)="onPageSelect($event)" *ngIf="showAdvancedSearch"></advanced-search>

<app-alignment-search (onPageSelect)="onPageSelect($event)" *ngIf="showAlignmentSearch"></app-alignment-search>

<app-course-search (onPageSelect)="onPageSelect($event)" *ngIf="showCourseSearch"></app-course-search>

<app-export (onPageSelect)="onPageSelect($event)" *ngIf="showExport"></app-export>

<!-- <app-quick-search></app-quick-search> -->

<!-- <iframe id="iframesummons" [src]="iFrameSummonsSrc" style="width: 50%; height:500px" frameborder="0" allowfullscreen>
  <p>Your browser does not support iframes.</p>
</iframe> -->

<div class="main" *ngIf="showSearchResults">
  <filter-summary (onPageSelect)="onPageSelect($event)" [FilterSummary]="FilterSummary"></filter-summary>
  <div class="col-md-12">
    <custom-accordion (onPageSelect)="onPageSelect($event)"></custom-accordion>
  </div>
</div>

<report (onPageSelect)="onPageSelect($event)" *ngIf="showReport"></report>
