.section-header-text.mini-comments {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 16px;
}
hr.card
{
    margin-top: 8px;
    margin-bottom: 8px;
}
.ohio-card.ode-section.comment
{
    margin-bottom: 5px;  
}
